body{
    margin: 0;
    text-align: center;
}
.modal p{
    font-style: italic ;
}
button{
    background: #0faf87;
    color: white;
    border: white;
    padding: 8px 16px;
    border-radius:4px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
}
