body{
    margin: 0;
}
.modal p{
    font-style: italic ;
}
button{
    background: #0faf87;
    color: white;
    border: white;
    padding: 8px 16px;
    border-radius:4px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
}
button[disabled]{
    opacity: 0.2;
    cursor: not-allowed;
}
form{
    max-width: 420px;
    margin: 30px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}
label{
    color: #aaaaaa;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
input,select{
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #dddddd;
    color:#555;
}
input[type="checkbox"]{
    display: inline-block;
    width: 16px;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
}
